<!DOCTYPE html>
<html>
<head>
  <title>Rubeacon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css' %>
  <%= javascript_include_tag 'http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
